* {
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4f4f4;
    padding: 20px;
}
h1 {
    color: #333;
}
#task-form {
    margin-bottom: 20px;
}
#task-input {
    padding: 10px;
    font-size: 16px;
}
button {
    padding: 10px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}
li {
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
}
.complete {
    text-decoration: line-through;
}
